includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - src

    level: max

    ignoreErrors:
        - '#Parameter \#1 \$object_or_class of function method_exists expects object\|string, mixed given\.#'
        - '#Trying to invoke mixed but it(.*) not a callable\.#'

    checkMissingIterableValueType: false

    reportUnmatchedIgnoredErrors: false

    checkOctaneCompatibility: true
